body,
html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;

    .container {
        display: flex;
        justify-content: flex-end;
    }
}

main {
    min-height: calc(100vh - 60px);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;

    .content {
        width: 600px;
        max-width: 600px;

        &.w-500 {
            width: 500px;
            max-width: 500px;
        }
    }
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-1 {
    margin-right: 1em;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.bg-gray {
    background-color: #f2f2f2;
}

.min-height-100 {
    min-height: calc(100vh - 60px);
}

.terms-and-conditions {
    font-weight: 600;
    font-size: 0.7em;
    color: #8F8F8F;
}

.search-bar {
    border: 1px solid #CECECE;
    border-radius: 20px;
    min-width: 200px;
    padding: 7px 15px;
    background: #F0F0F0;
    color: #8F8F8F;
    outline: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    input {
        background: none;
        border: none;
        outline: none;
        width: 86%;
    }

    button {
        display: inline-block;
        position: absolute;
        height: 80%;
        cursor: pointer;
        top: 55%;
        transform: translateY(-50%);
        right: 8px;

        svg {
            font-size: 1.5em;
            color: #8F8F8F;
        }
    }
}

.entry-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: 100;
}

.entry-buttons {
    margin-left: 1.5em;

    a.btn {
        padding: 6px 22px;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
    }
}

.no-btn {
    background: none;
    border: none;
    display: inline-block;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;

    &.btn-default {
        background: #2D5CB9;

        &:hover {
            background: #2D5CB9 !important;
        }
    }

    &.btn-danger {
        background: #CE3434;

        &:hover {
            background: #CE3434 !important;
        }
    }

    &.btn-link {
        color: #2D5CB9;

        &:hover {
            color: #2D5CB9 !important;
        }
    }
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 12px 22px;
    cursor: pointer;
    outline: none;
    font-size: 0.9em;

    &.btn-default {
        background: #366CD6;
        color: #fff;
        transition: background 150ms ease-in-out;

        &:hover {
            background: #2D5CB9;
        }
    }

    &.btn-danger {
        background: #EF3E3E;
        color: #fff;
        transition: background 150ms ease-in-out;

        &:hover {
            background: #CE3434;
        }
    }

    &.btn-link {
        background: none;
        color: #366CD6;
        transition: color 150ms ease-in-out;

        &:hover {
            color: #2D5CB9;
        }
    }

    &.stretched {
        box-sizing: border-box;
        width: 100%;
    }
}

.status {
    color: #fff;
    display: inline-block;
    min-width: 150px;
    padding: 4px 0;
    text-align: center;
    border-radius: 4px;
    font-size: 0.7em;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;

    &.default {
        background: #366CD6;
    }

    &.danger {
        background: #EF3E3E;
    }

    &.success {
        background: #1EAD2C;
    }

    &.pending {
        background: #FFC207;
    }
}

.d-flex {
    display: flex;
    justify-content: flex-start;

    &.center {
        align-items: center;
    }

    &.spaced {
        justify-content: space-between;
    }

    &.reverse {
        justify-content: flex-end !important;
    }

    &.justify-content-center {
        justify-content: center !important;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }

    &.no-wrap {
        flex-wrap: nowrap;
    }
}

.d-width-100 {
    width: 100%;
}

.inline-button-container {
    margin-left: 1em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    button {
        margin-bottom: 3px;
    }
}

.no-decoration {
    display: block;
    text-decoration: none;
    color: #000;
}

.width-50 {
    width: 50%;
}

.d-inline-block {
    display: inline-block;
}

.challenge {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(187, 192, 211, 0.2);

    h2 {
        font-size: 1em;
        margin: 5px 0;
        font-weight: 100;
    }

    .answer {
        margin-top: 30px;
        font-size: 0.85em;

        p.no-answer {
            font-style: italic;
        }

        p {
            line-height: 1.5em;
            max-height: 3em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
        }
    }
}

.content-group-md {
    margin-bottom: 45px;
}

.content-group-lg {
    margin-bottom: 60px;
}

.grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .result-tile {
        width: 30%;
        height: 80px;
        margin-right: 3%;
        margin-bottom: 3%;

        &:nth-child(3n+0) {
            margin-right: 0;
        }
    }
}

.grid-tile {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3%;

    &:nth-child(3n+0) {
        margin-right: 0;
    }
}

.domain {
    padding: 20px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(187, 192, 211, 0.2);

    h2 {
        font-size: 1em;
        margin: 5px 0;
        font-weight: 100;
        text-align: center;
    }
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.border-none {
    border: none !important;
}

label {
    display: block;
    text-transform: uppercase;
    color:#8F8F8F;
    font-size: 0.7em;
    margin-bottom: 5px;
}

.form-info {
    display: block;
    font-size: 0.8em;
    margin-bottom: 5px;
    color: #8F8F8F;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 13px;
    outline: none;
}

.answer-text-area {
    border: 1px solid #E5E5E5;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 19px 40px rgba(187, 192, 211, 0.2);

    textarea {
        padding: 20px;
        line-height: 1.5em;
    }
}

textarea {
    resize: none;
}

.answer-form-footer {
    padding: 15px 0;
}

.answer-btn {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 50px !important;
}

form.entry-form {
    width: 300px;
    margin: 0 auto;

    input {
        padding: 12px 16px;
        background: #F0F0F0;
        color: #5c5c5c;
        border: none;
        box-sizing: border-box;
        width: 100%;
        outline: none;
    }
}

.space-buttons {
    &.reverse {
        button {
            margin-left: 5px;
        }
    }
}

.label-with-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .counter {
        margin-bottom: 5px;
        color:#8F8F8F;
        font-size: 0.7em;
    }
}

.strength-indicator {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-bottom: 5px;

    &.weak {
        background: #EF3E3E;
    }

    &.good {
        background: #FFC207;
    }

    &.strong {
        background: #1EAD2C;
    }
}

.file-upload {
    span {
        display: inline-block;
        margin-left: 1em;
        font-size: 0.75em;
    }
}

.content-sibling {
    max-width: calc(100% - 650px);
}

.explanation {
    font-size: 0.75em;
    line-height: 20px;
}

input[type="file"] {
    display: none;
}

.review-answer {
    margin-bottom: 25px;

    span {
        font-size: 0.7em;
        font-weight: bold;
        color: #8F8F8F;
    }

    .answer {
        font-size: 0.8em;
        line-height: 1.8em;
    }

    .check-icon {
        font-size: 1em;
        margin-left: 1em;
        color: #1EAD2C;
    }
}

.mobile-bottom-fix {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #E5E5E5;
    padding: 15px;
    box-sizing: border-box;

    .btn {
        padding: 12px;
    }
}

.error-message {
    background-color: #FFBABA;
    color: #D8000C;
    padding: 0.8em;
    margin-top: 0.2em;
    font-size: 0.8em;
    border-radius: 3px;

    .error-icon {
        margin-right: 15px;
    }
}

.loading-tile {
    background: #f2f2f2;
}

.result-tile {
    height: 140px;
    margin-bottom: 15px;
    border-radius: 12px;
}

.title-tile {
    height: 2em;
    margin-bottom: 15px;
    border-radius: 4px;
}

.status-tile {
    height: 1.1em;
    width: 150px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.dropdown {
    margin-left: 15px;
    position: relative;
    z-index: 1;

    .dropdown-btn {
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #366CD6;
        color: #fff;
        cursor: pointer;

        span {
            font-size: 0.8em;
            font-weight: bold;
        }
    }

    .dropdown-body {
        background: #fff;
        box-sizing: border-box;
        position: absolute;
        width: 200px;
        left: 50%;
        top: 40px;
        transform: translateX(-50%);
        border: 1px solid #f1f1f1;

        a {
            color: #000;
            display: block;
            text-decoration: none;
            font-size: 0.9em;
            padding: 10px 40px;
            border-bottom: 1px solid #f1f1f1;
            transition: all 150ms ease-in-out;

            &:hover {
                color: #2D5CB9;
                background: #f2f2f2;
                font-weight: bold;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }

        .current-user {
            padding: 15px;
            box-sizing: border-box;
            border-bottom: 1px solid #f1f1f1;

            span {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;

                &.name {
                    font-size: 0.9em;
                    font-weight: 600;
                }

                &.email {
                    font-size: 0.75em;
                    color: #8F8F8F;
                }
            }
        }
    }
}

.challenge-navigation {
    padding: 20px;
}

.nav-btn {
    color: #000;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 150ms ease-in-out;

    &:hover {
        color: #8F8F8F;
    }

    span {
        margin: 0 10px;
    }
}

.back-btn {
    color: #8F8F8F;
    transition: color 150ms ease-in-out;

    &:hover {
        color: #CECECE;
    }
}

.no-results {
    color: #5c5c5c;
    padding-top: 20px;

    h4 {
        font-size: 0.95em;
        font-size: 100;
    }

    li {
        font-size: 0.85em;
        line-height: 1.7em;
    }

}

.capitalise {
    text-transform: capitalize;
}

.bread-crumbs {
    color: #8F8F8F;
    margin-bottom: 15px;
    font-size: 1em;

    .crumb {
        margin-right: 0.8em;
        vertical-align: middle;
    }
}

.table-header {
    background: #F0F0F0;
    border: 1px solid #E5E5E5;
    padding: 10px;

    .search-bar {
        background: #fff !important;
    }
}

.table-body {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #E5E5E5;
}

.row {
    border-bottom: 1px solid #E5E5E5;

    &.no-results {
        padding: 15px;
        color: #8F8F8F;
        font-size: 0.8em;
        text-align: center;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;

        text-decoration: none;
    }

    &:last-of-type {
        border-bottom: none;
    }

    .d-65 {
        width: 65%;
    }

    .d-35 {
        width: 35%;
    }

    .label {
        font-size: 0.8em;
        color: #000;
    }

    .cell {
        padding: 0 5px;
        box-sizing: border-box;
        align-items: center;
    }

    .status {
        margin-bottom: 0 !important;
    }
}

.loader {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.h-light {
    font-weight: 100;
}

.margin-0 {
    margin: 0;
}

.alert {

    &.alert-success {
        background: #1EAD2C;
        padding: 10px;
        color: #fff;
        font-size: 0.8em;
    }

    &.alert-warning {
        background: #FFC207;
        padding: 10px;
        color: #fff;
        font-size: 0.8em;
    }

    .alert-icon {
        margin-right: 10px;
    }
}

.hover {
    cursor: pointer;
}

#splash-page {
    header {
        box-shadow: none;
        position: absolute;
        z-index: 1;
        width: 60%;
        height: 50px;
        background: #1847a3;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-menu {
        a {
            text-decoration: none;
            font-size: 0.8em;
            margin-left: 1.5em;
            color: #fff;
            font-weight: 600;
        }
    }

    .main-header {
        background: url('../src/images/main.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
        position: relative;
    }

    .main-header-content {
        width: 700px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-title {
        font-weight: 600;
        color: '#fff';
        margin: 0;
        font-size: 3em;
        line-height: 1.5em;
    }

    .section {
        margin: 150px 0;
    }

    .feature > div {
        width: 45%;

        img {
            width: 100%;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        }
    }

    .product-title {
        font-size: 1.25em;
    }

    .product-text {
        color: #757575;
        font-size: 1em;
        line-height: 1.5em;
    }

    .signup-section {
        padding: 50px 0;
        background: #366CD6;
    }

    .signup-information {
        color: #fff;
        text-align: center;

        h3 {
            font-size: 1em;
        }
    }

    .signup-domain {
        background: #fff;
        padding: 10px;
        border-radius: 5px;
    }

    footer {
        background:#ffff;
        height: 200px;

        a {
            color: #000;
            text-decoration: none;
        }
    }

    .condense {
        width: 60% !important;
    }

    .section-title {
        font-size: 3em;
        margin-bottom: 40px;
    }

    .std-text {
        font-size: 1em;
        line-height: 2em;
    }

    .signup {
        text-align: center;
        padding-top: 20px;

        a {
            font-weight: 600;
            color: #000;
            text-decoration: none;

            .signup-link-item {
                background: #fff;
                font-size: 1em;
                padding: 20px;
                border-radius: 5px;
                display: inline-block;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
                transition: color ease-in-out 150ms, box-shadow 150ms ease-in-out;

                &:hover {
                    color: #3b3b3b;
                    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

}