@media only screen and (max-width: 600px) {
    .container {
        width: 90% !important;

        .content {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    header {

        .entry-buttons {
            a {
                font-size: 0.6em !important;
                padding: 6px 18px;
            }
        }

        form {
            display: none;
        }
    }

    .question {
        padding: 10px;
        margin-bottom: 10px;

        h2 {
            font-size: 1.1em;
        }

        .answer {
            margin-top: 20px;
            font-size: 0.75em;

            p.no-answer {
                font-style: italic;
            }

            p {
                line-height: 1.4em;
                max-height: 2.8em;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
            }
        }
    }

    .space-buttons {
        margin-top: 20px;

        &.reverse {
            justify-content: space-between !important;

            button {
                width: 100%;
                margin: 0;
                padding: 12px;
            }
        }
    }

    .answer-btn {
        width: calc(100% - 24px);
    }

    .content-sibling {
        display: none;
    }

    .mobile-bottom-fix {
        display: block;
    }

    .dropdown {
        .dropdown-body {
            width: 90vw;
            left: 50%;
            transform: translateX(-80%);

            a {
                font-size: 1.2em;
                padding-left: 15px;
            }
        }
    }

    .bread-crumbs {
        font-size: 0.9em;

        .crumb {
            margin-right: 10px;
        }

        svg {
            height: 20px;
            width: auto;
        }
    }

    .d-35 {
        .status {
            min-width: 100% !important;
            max-width: 100% !important;
        }
    }

    .grid {
        .result-tile,
        .grid-tile {
            width: 100%;
            margin-right: 0 !important;
            margin-bottom: 1.5em !important;
        }
    }

    #splash-page {
        header {
            width: 95%;

            .container {
                width: 80% !important;
            }
        }

        .header-menu {
            a {
                font-size: 0.9em;
            }
        }

        .main-header-content {
            width: 80%;
        }

        .main-title {
            font-size: 2em;
        }

        .section-title {
            font-size: 2em;
        }

        .condense {
            width: 80% !important;
        }

        .feature {
            flex-wrap: wrap;
        }

        .mb-column-reverse {
            flex-direction: column-reverse;
        }


        .feature > div {
            width: 100%;
            display: block;
        }

        .section {
            margin: 100px 0;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 85% !important;
        .content {
            width: 70%;
            max-width: 70%;
        }

        .content-sibling {
            max-width: calc(25%);
        }
    }

}